/*OVERORDNET*/
*,
html * {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*    overflow: scroll;*/

}

h1 {
    font-family: 'GFS Didot', serif;
    color: #9F9892;
    font-weight: 540;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;

}

h2 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Baskervville', serif;
    font-size: 3em;
}

h3 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 2rem;
}

h4 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.5em;
}



p {
    color: #676360;
    font-weight: 100;
    font-family: 'Montserrat',
        sans-serif;


}

a {
    text-decoration: none;
    color: #676360;
    font-weight: 900;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 1.1em;
    list-style-type: none;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    height: 8vw;
    width: 8vw;
    top: 0.5vw;
}


/*FORSIDE START*/

#forside_section .logo {
    top: 14vw;
    left: 45%;
}


#forside_section img {
    /*    padding: 30px;*/
}

#forside_section h3 {
    text-align: center;
}

.parallax1 {
    background-image: url(billeder/splash-3.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
    position: relative;
    text-align: center;
}

.parallax2 {
    background-image: url(billeder/splash-1.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.parallax3 {
    background-image: url(billeder/splash-2.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.forside_container {
    width: auto;
    z-index: 40;
}

.forside_header {
    justify-content: center;
    border-bottom: none;
    overflow: hidden;
}


.forside_header a {
    text-decoration: none;

}

.forside_header h1 {
    margin: 0 auto;
    color: white;
    font-size: 6vw;
}

.parallax1 h2 {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    margin: 15vw 0 0;
    padding-bottom: 2vw;

}

.forside_box1 {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 2vw 0 2vw 0;

}

.forside_box1 img {}

.forside_grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;

}

.forside_grid1 img {
    padding: 30px;
}

.forside_grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;
}

.instagram {
    padding: 10px;
}

.img5,
.img6,
.img7 {
    padding: 10px;
}

/*STYLING AF KNAPPER PÅ FORSIDE*/
.button {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 4px 2px;
    align-content: center;
    font-family: 'Montserrat',
        sans-serif;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

/*FORSIDE SLUT*/

/*NAV START*/
header {
    border-bottom: 1.5px solid #ACA9A7;
}

.menu {
    display: block;
    justify-content: space-between;
    text-align: center;
    z-index: 40;
    top: 0;
}

.menu ul {
    padding: 0;
    /*    background-color: white;*/
    /*    height: 150vw;*/
    top: 0;
}


li {}

.menu li {
    top: 0;
    list-style-type: none;
}


.menu a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #9F9892;
    font-weight: 350;
    text-transform: uppercase;
    margin: 0 50px 0 0;
}

/*Når man hover over links */
.menu a:hover {
    font-size: 1.3rem;
    color: #7b746d;
    font-weight: 550;

}

/*NAV SLUT*/

/*KERAMIK START*/
.menu2 {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin: 3rem 0 0;
}

/*Selve knappen*/
.menu2 button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 10px;
    /*Fjerner kanten på knapperne*/
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #9F9892;
    background-color: rgba(255, 255, 255, 0);
}


.menu2 button:hover {
    border-bottom: 2px solid #676360;
    border-bottom-width: thin;
}

.menu2 button.valgt {
    border-bottom: 1px solid #676360;
    outline: none;

}

.indhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 0 10rem 10rem 10rem;

}

.keramik {
    cursor: pointer;
    background-color: white;
    transition: 0.5s all;
    border: 2px solid #b9b2ad;
    margin: 0;

}


.keramik_txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

}

.keramik_txt h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;

}

/*hover med text med hjælp fra w3*/
.mother {
    margin-top: 50px;
}

.container {
    position: relative;
    padding: 10px;
    margin: 0 15px;
}

.image {
    opacity: 1;
    transition: .8s ease;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    background-color: white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.container:hover .image {
    opacity: 0.3;

}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: #9E9893;
    color: white;
    padding: 10px 40px 10px 40px;
}

/*KERAMIK SLUT*/


/*SINGLEVIEW START*/
.singleview_side {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;

    position: relative;
    box-sizing: border-box;

}

.singleview_img {
    box-sizing: border-box;
    padding: 0 0 0 10vw;
    max-width: 80%;

}

.singleview_indhold {
    display: block;
    box-sizing: border-box;
    /*    margin-left: 5vw;*/
    /*  */

}

.singleview_img2 {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    max-width: 30%;

}

.my_image2 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.my_image3 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.luk {
    position: sticky;
    display: inline-block;
    font-size: 3.4rem;
    margin-top: 60px;
    font-weight: 200;
    border: 0;
    cursor: pointer;
    color: #9F9892;
}

.singleview_kurv {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 8px 2px;
    align-content: center;
    font-family: 'Montserrat',
        sans-serif;
    margin: 0 auto;
    text-align: center;
}

.singleview_kurv:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: none;
    background: rgba(98, 98, 98, 0.63);
}

#popup .luk_x {
    top: 0;
    right: 0;
    font-size: 4rem;
    background-color: rgba(250, 235, 215, 0);
    color: white;
    border: none;
    text-align: center;
}

#popup .keramik {
    width: 50vw;
    min-height: 50vh;
    margin: 4rem auto;
    padding: 4rem;
    background: rgba(255, 255, 255, 0);
    border: none;
}

/*SINGLEVIEW SLUT*/

/*OM START*/
.om_overskrift {
    text-align: center;
}

#om_container h3 {
    text-align: center;
}

.om_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 10px;
    grid-row-gap: 1em;
    margin: auto;
}

.om_billed1 {
    margin: 2vw 5vw 0 15vw;
}

.om_bio {
    margin: 0 20vw 10vw 2vw;
}

.om_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 0 10vw 0;
}

#line_video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 10px;
}

#line_video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*OM SLUT*/

/*KURSUS START*/
.kursus_overskrift {
    text-align: center;
}

#kursus_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 0 10vw 0;
}

.kursus_col1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 10px;
    grid-row-gap: 1em;
    margin: auto;
}

.kursus_text1 {
    margin: 2vw 5vw 0 5vw;
}

.kursus_billed {
    margin: 3vw 8vw 0 5vw;
}

.kursus_tilmelding {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 40px;
    margin: 4vw 0 0;
    border-top: 3px solid #9F9892;
}

.kursus1 {
    padding: 2vw 1vw 0 0;
}

.kursus_fed {
    font-weight: 900;
}

.kursus_button {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Montserrat',
        sans-serif;
    margin: 4vw;
    text-align: center;
    display: block;
}

.kursus_button:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

.kursus_detaljer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px;
    margin: 0 5.5vw 3vw;
    border-bottom: 3px solid #9F9892;
}

/*KURSUS SLUT*/

/*KONTAKT START*/
.kontakt_overskrift h2 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Baskervville', serif;
    font-size: 3em;
    text-align: center;
}

.kontakt_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.kontakt {
    margin: 3vw;
    margin-top: 0;
    padding-left: 15vw;
    flex-basis: 200px;
    flex-grow: 1;

}

.kort {
    margin: 7vw 7vw 7vw 0;
    flex-basis: 300px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 7vw;
}

input {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

textarea {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 200px;
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: #9F9892;
    padding: 4px 105px;
    text-decoration-color: white;
    cursor: pointer;
}

input[value="Send"] {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

/*KONTAKT SLUT*/

/*FOOTER START*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 600;
    flex-grow: 1;
    background-color: rgba(179, 173, 169, 0.72);
    width: 100%;
    left: 0;
}

/*Tekst i footer*/
footer p {
    color: white;
    padding-top: 0.5rem;
    text-align: left;
    margin: 20px;
    padding-right: 4vw;

}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1em;


}

.ikoner {
    margin: 10rem 0 0 10rem;


}

.fa-facebook-square:before {
    font-size: 48px;
    padding-right: 2rem;
}

.fa-instagram:before {
    font-size: 48px;
}

/*FOOTER SLUT*/

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    display: none;
    /*    transform: translateX(-100%);*/

}



/*BURGER SLUT*/

/*MEDIA QUERIES START*/
@media only screen and (min-width: 850px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: block;
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    #forside_section .forside_nav a {
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 350;
        text-transform: uppercase;
        padding: 0 5px;
        font-weight: 500;
    }

    #forside_section .forside_nav a:hover {

        font-weight: bolder;

    }


}


@media only screen and (min-width: 600px) {

    .singleview_side {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 7vw;
        margin: 0 auto;
        padding-left: 0;


    }

    .singleview_tekst {
        grid-column: 1/2;
        padding: 0 30px;
        margin-top: 100px;

    }

    .singleview_img2 {
        display: flex;
        flex-direction: row;
        margin-left: 12rem;
        max-width: 15%;

    }

    .my_image2 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .my_image3 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .kort {
        margin: 0 15vw 0 5vw;
    }

}

@media only screen and (min-width: 600px) {

    .vision_tekst {
        margin: 0 3vw 0 2vw;
    }



}

@media only screen and (min-width:1400px) {
    i {

        border: solid white;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 15px;
        margin: 2vw;

    }


    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    i:hover {
        opacity: 0.7;
        transition: .3s ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    .cirkel_stor {
        display: block;
        /*        background: #9F9892;*/
        background: #b49c9a;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        position: absolute;
        -webkit-animation: mymove1 10s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        margin: 3vw 3vw 3vw 83vw;
    }

    .cirkel_mellem {
        display: block;
        /*        background: #9F9892;*/
        background: #b49c9a;
        border-radius: 50%;
        height: 110px;
        width: 110px;
        position: absolute;
        -webkit-animation: mymove2 7s;

        -webkit-animation-fill-mode: forwards;

        animation-fill-mode: forwards;
        margin: 1vw 3vw 3vw 84vw;
    }

    .cirkel_lille {
        display: block;
        /*        background: #9F9892;*/
        background: #b49c9a;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
        -webkit-animation: mymove 5s;

        -webkit-animation-fill-mode: forwards;

        animation-fill-mode: forwards;
        margin: 1vw 3vw 3vw 85vw;
    }

    @-webkit-keyframes mymove1 {
        from {
            top: -20vw;
        }

        to {
            top: 15vw;
        }
    }

    @keyframes mymove1 {
        from {
            top: -20vw;
        }

        to {
            top: 15vw;
        }
    }

    @-webkit-keyframes mymove2 {
        from {
            top: -20vw;
        }

        to {
            top: 30vw;
        }
    }

    @keyframes mymove2 {
        from {
            top: -20vw;
        }

        to {
            top: 30vw;
        }
    }

    @-webkit-keyframes mymove {
        from {
            top: -20vw;
        }

        to {
            top: 40vw;
        }
    }

    @keyframes mymove {
        from {
            top: -20vw;
        }

        to {
            top: 40vw;
        }
    }


}

@media only screen and (max-width: 850px) {
    .logo {
        top: 2vw;
    }

    #forside_section .logo {
        top: 10vw;
        left: 45%;
    }

    #menuknap {
        position: absolute;
        left: 90%;
        font-size: 2rem;
        font-family: 'Roboto';
        color: #9F9892;
        font-weight: bold;
        top: 10px;
        cursor: pointer;
    }

    .forside_nav #menuknap {
        color: white;
    }

    .forside_nav #menu {
        height: 140vw;
        background: white;
    }

    #menu {
        height: 150vw;
        padding-top: 10vw;
    }

    #menu li {
        line-height: 15vw;
    }

    #menu a {
        margin: 0;
    }

    h1,
    forside_header h1 {
        font-size: 10vw;
    }

    .om_bio {
        margin: 2vw 10vw 0 10vw;
    }

}



@media only screen and (max-width: 600px) {

    .indhold {
        padding: 0;
    }

    #popup .keramik {
        width: 100vw;
        min-height: 100vh;
    }

    .parallax1 h2 {
        font-size: 3vw;
    }

    .forside_grid1 .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
        display: none;
    }

    .om_billed1 {
        margin: 2vw 10vw 0 10vw;
    }

    .om_bio {
        margin: 2vw 10vw 0 10vw;
    }

    footer p {
        margin: 3vw 15vw;
    }
}


/*MEDIA QUERIES SLUT*/

/*MEDIA QUERIES SLUT*/
