/*OVERORDNET*/
*,
html * {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

h1 {
    font-family: 'GFS Didot', serif;
    color: #9F9892;
    font-weight: 540;
    font-size: 3.5em;

}

h2 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 3em;
}

h3 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 2rem;
}

p {
    color: #676360;
    font-weight: 100;
    font-family: 'Montserrat',
        sans-serif;

}

/*FORSIDE START*/

.parallax1 {
    background-image: url(billeder/splash-3.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
    position: relative;
    text-align: center;
}


.forside_container {
    position: absolute;
    margin: 20px;
    width: auto;
    z-index: 40;
}

.forside_nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 350;
    text-transform: uppercase;
}

.forside_header {
    text-align: center;
}



.forside_header a {
    text-decoration: none;

}

.parallax1 h2 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin: auto;
    padding-top: 18vw;
    padding-bottom: 2vw;

}

.parallax2 {
    background-image: url(billeder/splash-1.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.parallax3 {
    background-image: url(billeder/splash-2.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.forside_header {
    position: relative;
    text-align: center;
}

.forside_header h1 {
    position: absolute;
    color: white;
    margin-top: 0;
    align-content: center;

}

.forside_nav a {
    top: 50%;
    display: block;
    justify-content: space-between;
    text-align: center;
    margin: 3rem 0 0;
    z-index: 40;
    top: 0;

}

.forside_box1 {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5vw 0 5vw 0;
}

#forside_section img {
    padding: 30px;
}

#forside_section h3 {
    text-align: center;
}

.forside_grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;
}



.forside_box2 {
    text-align: center;
}

.forside_box2 {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 5vw 0 5vw 0;
}

.forside_grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;
}



/*STYLING AF KNAPPER PÅ FORSIDE*/
.button {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 4px 2px;
    align-content: center;
    font-family: 'Montserrat',
        sans-serif;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

/*FORSIDE SLUT*/

/*NAV START*/

.menu1 header {
    border-bottom: 1.5px solid #ACA9A7;
}

.menu1 {
    display: block;
    justify-content: space-between;
    text-align: center;
    margin: 3rem 0 0;
    z-index: 40;
    top: 0;
}

.menu1 ul {
    background: none;
    border: none;
}



li {
    margin-right: 80px;
    padding: 1rem 0;
}

.menu li {
    margin-right: 50px;
    top: 0;
}


.menu1 a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #9F9892;
    font-weight: 350;
    text-transform: uppercase;
}

/*Når man hover over links */
.menu1 a:hover {
    font-weight: bold;
}


/*NAV SLUT*/




/*KERAMIK START*/
.menu2 {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin: 3rem 0 0;
}

/*Selve knappen*/
.menu2 button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 10px;
    /*Fjerner kanten på knapperne*/
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #9F9892;
    background-color: rgba(255, 255, 255, 0);
}


.menu2 button:hover {
    border-bottom: 2px solid #676360;
    border-bottom-width: thin;
}

.menu2 button.valgt {
    border-bottom: 1px solid #676360;
    outline: none;

}

.indhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 0 10rem 0 10rem;

}

.keramik {
    cursor: pointer;
    background-color: white;
    transition: 0.5s all;
    border: 2px solid #b9b2ad;
    margin: 0;

}


.keramik_txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

}

.keramik_txt h2 {
    text-align: center;
    font-size: 3rem;

}

/*hover med text med hjælp fra w3*/
.mother {
    margin-top: 50px;
}

.container {
    position: relative;
    padding: 10px;
    margin: 0 15px;
}

.image {
    opacity: 1;
    transition: .8s ease;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    background-color: white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.container:hover .image {
    opacity: 0.3;

}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: #9E9893;
    color: white;
    padding: 10px 40px 10px 40px;
}

/*KERAMIK SLUT*/


/*SINGLEVIEW START*/
.singleview_side {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;

    position: relative;
    box-sizing: border-box;

}

.singleview_img {
    box-sizing: border-box;
    padding-left: 10vw;
    max-width: 80%;

}

.singleview_indhold {
    display: block;
    box-sizing: border-box;
    margin-left: 5vw;
    margin-top: 100px;

}

.singleview_img2 {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    max-width: 30%;

}

.my_image2 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.my_image3 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.luk {
    display: inline-block;
    font-size: 3.4rem;
    position: fixed;
    margin-top: 60px;
    font-weight: 200;
    border: 0;
    cursor: pointer;
}

/*SINGLEVIEW SLUT*/

/*OM START*/
.om_overskrift {
    text-align: center;
}

#om_container h3 {
    text-align: center;
}

#om_container {
    display: grid;
    grid-template-columns: 500px, 1fr;
    column-gap: 10px;
    grid-row-gap: 1em;
    margin: 5vw;

}

/*OM SLUT*/

/*KURSUS START*/
/*KURSUS SLUT*/

/*KONTAKT START*/
.kontakt_overskrift h2 {
    text-align: center;
    font-size: 2.2em;
}

.kontakt_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.kontakt {
    margin: 3vw;
    margin-top: 0;
    padding-left: 15vw;
    flex-basis: 200px;
    flex-grow: 1;

}

.kort {
    margin: 7vw 7vw 7vw 0;
    flex-basis: 300px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 7vw;
}

input {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

textarea {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 200px;
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: #9F9892;
    padding: 4px 105px;
    text-decoration-color: white;
}

input[value="Send"] {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

/*KONTAKT SLUT*/

/*FOOTER START*/
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(179, 173, 169, 0.72);
    width: 100%;
    left: 0;
}

/*Tekst i footer*/
footer p {
    color: white;
    padding-top: 0.5rem;
    text-align: left;
    width: 20rem;
    margin: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.ikoner {
    margin: 0 0 0 10rem;
    padding-top: 10rem;

}

.fa-facebook-square:before {
    font-size: 48px;
}

.fa-instagram:before {
    font-size: 48px;
}

/*FOOTER SLUT*/

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    transform: translateX(-100%);
    display: none;
}

/*Selve burger knappen*/
#menuknap {
    position: fixed;
    left: 90%;
    font-size: 2rem;
    font-family: sans-serif;
    color: grey;

}

/*BURGER SLUT*/

/*MEDIA QUERIES START*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        display: block;
    }

    #menu li {
        display: inline-block;
    }
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    .kort {
        margin: 0 15vw 0 5vw;
    }

}

@media only screen and (min-width: 600px) {

    .singleview_side {


        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 7vw;
        margin: 0 auto;
        padding-left: 0;


    }

    .singleview_tekst {
        grid-column: 1/2;
        padding: 0 30px;
        margin-top: 100px;

    }

    .singleview_img2 {
        display: flex;
        flex-direction: row;
        margin-left: 12rem;
        max-width: 15%;

    }

    .my_image2 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .my_image3 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }



}

@media only screen and (min-width: 600px) {

    #om_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        column-gap: 10px;
        grid-row-gap: 1em;
        margin: 0;
    }

    .om_billed1 {
        margin: 2vw 0 0 18vw;
    }

    .om_bio {
        margin: 0 20vw 5vw 6vw;
    }

    .vision_tekst {
        margin: 0 3vw 0 2vw;
    }
}


/*
@media only screen and (max-width: 1200px) {

    .parallax1,
    parallax2,
    parallax3 {
        background-attachment: scroll;
    }
}*/

/*MEDIA QUERIES SLUT*/
