/*OVERORDNET*/
*,
html * {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*    overflow: scroll;*/

}

h1 {
    font-family: 'GFS Didot', serif;
    color: #9F9892;
    font-weight: 540;
    font-size: 3.5em;
    text-align: center;
    margin: 0 auto;

}

h2 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 3em;
}

h3 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 2rem;
}

h4 {
    color: #9F9892;
    font-weight: 540;
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.5em;
}



p {
    color: #676360;
    font-weight: 100;
    font-family: 'Montserrat',
        sans-serif;


}

a {
    text-decoration: none;
    color: #676360;
    font-weight: 900;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 1.1em;
    list-style-type: none;
}

/*FORSIDE START*/

#forside_section img {
    /*    padding: 30px;*/
}

#forside_section h3 {
    text-align: center;
}

.parallax1 {
    background-image: url(billeder/splash-3.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
    position: relative;
    text-align: center;
}

.parallax2 {
    background-image: url(billeder/splash-1.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.parallax3 {
    background-image: url(billeder/splash-2.png);
    height: 40vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0vw;
}

.forside_container {
    width: auto;
    z-index: 40;
}

.forside_header {
    justify-content: center;
    border-bottom: none;
    overflow: hidden;
}


.forside_header a {
    text-decoration: none;

}

.forside_header h1 {
    margin: 0 auto;
    color: white;
    font-size: 5vw;
}

.parallax1 h2 {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    margin: 15vw 0 0;
    padding-bottom: 2vw;

}

.forside_box1 {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 2vw 0 2vw 0;

}

.forside_box1 img {}

.forside_grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;

}

.forside_grid1 img {
    padding: 30px;
}

.forside_grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 1em;
    margin: 0vw 15vw;
}

.instagram {
    padding: 10px;
}

/*STYLING AF KNAPPER PÅ FORSIDE*/
.button {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 4px 2px;
    align-content: center;
    font-family: 'Montserrat',
        sans-serif;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

/*FORSIDE SLUT*/

/*NAV START*/
header {
    border-bottom: 1.5px solid #ACA9A7;
}

.menu {
    display: block;
    justify-content: space-between;
    text-align: center;
    z-index: 40;
    top: 0;
}

.menu ul {
    padding: 0;
    /*    background-color: white;*/
    /*    height: 150vw;*/
    top: 0;
}


li {}

.menu li {
    top: 0;
    list-style-type: none;
}


.menu a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #9F9892;
    font-weight: 350;
    text-transform: uppercase;
    margin: 0 50px 0 0;
}

/*Når man hover over links */
.menu a:hover {
    font-weight: bold;
}

/*NAV SLUT*/

/*KERAMIK START*/
.menu2 {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin: 3rem 0 0;
}

/*Selve knappen*/
.menu2 button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 10px;
    /*Fjerner kanten på knapperne*/
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #9F9892;
    background-color: rgba(255, 255, 255, 0);
}


.menu2 button:hover {
    border-bottom: 2px solid #676360;
    border-bottom-width: thin;
}

.menu2 button.valgt {
    border-bottom: 1px solid #676360;
    outline: none;

}

.indhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 0 10rem 10rem 10rem;

}

.keramik {
    cursor: pointer;
    background-color: white;
    transition: 0.5s all;
    border: 2px solid #b9b2ad;
    margin: 0;

}


.keramik_txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

}

.keramik_txt h2 {
    text-align: center;
    font-size: 3rem;

}

/*hover med text med hjælp fra w3*/
.mother {
    margin-top: 50px;
}

.container {
    position: relative;
    padding: 10px;
    margin: 0 15px;
}

.image {
    opacity: 1;
    transition: .8s ease;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    background-color: white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.container:hover .image {
    opacity: 0.3;

}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: #9E9893;
    color: white;
    padding: 10px 40px 10px 40px;
}

/*KERAMIK SLUT*/


/*SINGLEVIEW START*/
.singleview_side {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;

    position: relative;
    box-sizing: border-box;

}

.singleview_img {
    box-sizing: border-box;
    padding: 5vw 0 0 10vw;
    max-width: 80%;

}

.singleview_indhold {
    display: block;
    box-sizing: border-box;
    /*    margin-left: 5vw;*/
    margin-top: 100px;

}

.singleview_img2 {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    max-width: 30%;

}

.my_image2 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.my_image3 {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.luk {
    position: fixed;
    display: inline-block;
    font-size: 3.4rem;
    margin-top: 60px;
    font-weight: 200;
    border: 0;
    cursor: pointer;
    color: #9F9892;
}

/*SINGLEVIEW SLUT*/

/*OM START*/
.om_overskrift {
    text-align: center;
}

#om_container h3 {
    text-align: center;
}

#om_container {
    display: grid;
    grid-template-columns: 500px, 1fr;
    column-gap: 10px;
    grid-row-gap: 1em;
    margin: 5vw;

}

#line_video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin: 0 20vw 5vw 6vw;

}

#video {
    position: absolute;
    top: 10;
    left: 10;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 300px;
}

/*OM SLUT*/

/*KURSUS START*/
.kursus_overskrift {
    text-align: center;
}

#kursus_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 0 10vw 0;
}

.kursus_col1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 10px;
    grid-row-gap: 1em;
    margin: auto;
}

.kursus_text1 {
    margin: 2vw 5vw 0 5vw;
}

.kursus_billed {
    margin: 3vw 5vw 0 5vw;
}

.kursus_tilmelding {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 40px;
    margin: 4vw 0 0;
    border-top: 3px solid #9F9892;
}

.kursus1 {
    padding: 2vw 1vw 0 0;
}

.kursus_fed {
    font-weight: 900;
}

.kursus_button {
    background-color: #9F9892;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Montserrat',
        sans-serif;
    margin: 4vw;
    text-align: center;
    display: block;
}

.kursus_button:hover {
    background-color: white;
    border: 2px solid #9F9892;
    color: #9F9892;
}

.kursus_detaljer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px;
    margin: 0 5.5vw 3vw;
    border-bottom: 3px solid #9F9892;
}

/*KURSUS SLUT*/

/*KONTAKT START*/
.kontakt_overskrift h2 {
    text-align: center;
    font-size: 2.2em;
}

.kontakt_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.kontakt {
    margin: 3vw;
    margin-top: 0;
    padding-left: 15vw;
    flex-basis: 200px;
    flex-grow: 1;

}

.kort {
    margin: 7vw 7vw 7vw 0;
    flex-basis: 300px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 7vw;
}

input {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

textarea {
    border: 3px solid #9F9892;
    padding: 10px 20px;
    width: 405px;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 200px;
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: #9F9892;
    padding: 4px 105px;
    text-decoration-color: white;
}

input[value="Send"] {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

/*KONTAKT SLUT*/

/*FOOTER START*/
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(179, 173, 169, 0.72);
    width: 100%;
    left: 0;
}

/*Tekst i footer*/
footer p {
    color: white;
    padding-top: 0.5rem;
    text-align: left;
    width: 20rem;
    margin: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.ikoner {
    margin: 0 0 0 10rem;
    padding-top: 10rem;

}

.fa-facebook-square:before {
    font-size: 48px;
}

.fa-instagram:before {
    font-size: 48px;
}

/*FOOTER SLUT*/

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    display: none;
    /*    transform: translateX(-100%);*/

}

/*Selve burger knappen*/
#menuknap {
    position: absolute;
    left: 90%;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #9F9892;
    font-weight: bold;
    top: 0;
}

.forside_nav #menuknap {
    color: white;
}

/*BURGER SLUT*/

/*MEDIA QUERIES START*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        /*        transform: translateX(0);*/
        display: block;
        /*        height: 150px;*/
        opacity: 1;

    }

    #menu li {
        display: inline-block;
    }

    ul {

        /*        height: 150px;*/
    }

    .kort {
        margin: 0 15vw 0 5vw;
    }
}


@media only screen and (min-width: 600px) {

    .singleview_side {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 7vw;
        margin: 0 auto;
        padding-left: 0;


    }

    .singleview_tekst {
        grid-column: 1/2;
        padding: 0 30px;
        margin-top: 100px;

    }

    .singleview_img2 {
        display: flex;
        flex-direction: row;
        margin-left: 12rem;
        max-width: 15%;

    }

    .my_image2 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .my_image3 {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



}

@media only screen and (min-width: 600px) {

    #om_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        column-gap: 10px;
        grid-row-gap: 1em;
        margin: 0;
    }

    .om_billed1 {
        margin: 2vw 0 0 18vw;
    }

    .om_bio {
        margin: 0 20vw 5vw 6vw;
    }

    .vision_tekst {
        margin: 0 3vw 0 2vw;
    }

    #forside_section .forside_nav a {
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 350;
        text-transform: uppercase;
        padding: 0 5px;

    }
}




/*MEDIA QUERIES SLUT*/

/*TEST*/

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: none;
    background: rgba(98, 98, 98, 0.63);
}

#popup .luk {
    top: 0;
    right: 0;
    font-size: 4rem;
}

#popup .keramik {
    width: 50vw;
    min-height: 50vh;
    margin: 4rem auto;
    padding: 4rem;
    background: white;
}




/*
.arrow down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size: 3rem;

}

i {
    position: absolute;
    top: 40vw;
    left: 48%;
    background-color: transparent;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#footer_scroll a {
    background: #4679BD;
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
*/
